@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --color1: #4C3A51;
  --color2: #774360;
  --color3: #B25068;
  --color4: #E7AB79;
  --color5: #251c27;
  --color6: #b1825c;
  --color7: #ffbb84;
  --color8: #723343;
  --color-bg-primary: #4C3A51;
  --color-bg-secondary: #774360;
  --color-shadow: #251c27;
  --color-hover: #251c27;
  /*
  --color1: #000000;
  --color2: #323232;
  --color3: #FF1E56;
  --color4: #FFAC41;
  --color5: #000441;
  --color6: #c9852d;
  --color7: #f8b762;
  --color8: #9e1336;
  --color-bg-primary: #323232;
  --color-bg-secondary: #FF1E56;
  --color-shadow: #020758;
  --color-hover: #000441;
*/

}

html, body
{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
  /*
  font-family: 'Exo', sans-serif;
  */
  /*
  font-family: 'Roboto Mono', monospace;
  */
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background:       
  linear-gradient(190deg, transparent, 60%, var(--color5)),
  linear-gradient(80deg, transparent, 80%, var(--color6)),
  linear-gradient(350deg, transparent, 50%, var(--color5)),
  linear-gradient(170deg, transparent, 50%, var(--color3)),
  repeating-radial-gradient(circle at center, var(--color4), 10%, var(--color5), var(--color7) 50%, var(--color3), 75%, var(--color4) 100%);
  min-height: 90vh; /* fix for body bigger than viewport. do not set width */
  color: var(--color4);
  font-size: 1.05em;
  /*
  font-weight: bold;
  */
  margin-bottom: 0;
  text-align: center;
  
}

h1 {
  margin: 2% auto 0 auto;
  padding: 0;
  font-size: 4em;
  font-weight: normal;
  text-shadow: 4px 4px 4px var(--color-shadow);
  
}

h2 {
  margin: 1% auto 0 auto;
  padding: 0;
  font-size: 1.5em;
  font-weight: lighter;
  text-shadow: 4px 4px 4px var(--color-shadow);
}

.card {
  font-size: 1.4em;
  color: var(--color-1);
  width: 40em;
  margin: 3% auto 1% auto;
  padding: 0.5%;
  background: linear-gradient(135deg, var(--color-bg-primary), var(--color8));
  border: 10px inset var(--color-border);
  border-radius: 15px;
  box-shadow: 0 0 20px 10px var(--color5), 3px 4px 7px inset var(--color6);
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
  text-shadow: 4px 4px 4px var(--color-shadow);
  transition: transform .3s, border .2s, box-shadow .25s; /* Animation */
  text-align: center;
}


.card:hover {
  border: 12px inset var(--color-1);
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 0 0 40px 20px var(--color6), 5px 8px 5px inset var(--color3);
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

a:link {text-decoration: none; color: var(--color-text-primary); }
a:visited { text-decoration: none; color: var(--color4); }
a:hover { text-decoration: none; color: var(--color7); }
a:focus { text-decoration: none; color: var(--color4); }
a:hover, a:active { text-decoration: none; color: var(--color7) }

.secondarytext {
  color: var(--color6);
}

p {
  margin: 0.1%;
}


@media only screen and (max-width: 720px) { /* for mobile screen */
  .card {
    width: 90vw;
    font-size: 1.2em;
    margin-bottom: 5%;
  }

  #content {
    padding: 5%;
    overflow: auto;
    height: 100%;
    font-size: 0.9em;

  }

  html, body
{
  height: 100%;
  margin: 0;
  overflow: auto;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1em;
  margin: 5% auto 10% auto;
}

}